:root{
    --main-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
    --main-color: #2196F3;
    --secondary-color: #212121;
    --description-color: #757575;
    --third-text-color: #FFFFFF;
    --logo-studio-color:  #000000;
    --footer-contact-color:  rgba(255, 255, 255, 0.6);
    --main-background-color: #FFFFFF;;
    --secondary-background-color: #2F303A;
    --third-background-color: #F5F4FA;
}
body {
    font-family: var(--main-font);
    color: var(--secondary-color);
    background-color: var(--main-background-color);
}

/*==== COMPONENTS ====*/
@font-face{
    font-family: 'Roboto';
    src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap);
}
.logo-web,
.logo-studio,
.logo-studio-white{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.logo-studio{
    color: var(--logo-studio-color);
}
.logo-studio-white{
    color: var(--third-text-color)
}

.filters-modal-btn,
.hero-modal-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--third-background-color);
}

.hero-modal-btn{
    font-weight: 700;
    line-height: 1.875;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    }

.secondary-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus,
.footer-contact:hover,
.footer-contact:focus,
.footer-contact-portfolio-email:hover,
.footer-contact-portfolio-email:focus{
    color:var(--main-color)
}
.hero-modal-btn:hover,
.hero-modal-btn:focus,
.filters-modal-btn:hover,
.filters-modal-btn:focus{
    color: var(--third-text-color);
    background-color: var(--main-color);
    cursor: pointer;
}

.section-hero,
.section-footer{
    background-color: var(--secondary-background-color);
}
/*==== END COMPONENTS ====*/

/*==== HEADER ====*/
.navigation-list-link,
.contact-list-link,
.footer-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-color);
}

.contact-list-link{
    color: var(--description-color);
}
/*==== END HEADER ====*/

/*==== HERO ====*/

.main-header{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-text-color);
}

/*==== END HERO ====*/

/*==== ADVANTAGES ====*/
.advantages-list-header,
.advantages-list-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-list-text{
    font-weight: 400;
    line-height: 1.714;
    text-transform: none;
    color: var(--description-color)
}
/*==== END ADVANTAGES ====*/


/*==== ABOUT US ====*/
/*==== END ABOUT US ====*/


/*==== OUR TEAM ====*/
.section-team{
    background-color: var(--third-background-color);
}
.team-list-text,
.team-list-text-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-list-text-description{
    font-weight: 400;
    color: var(--description-color);
}
/*==== END OUR TEAM ====*/

/*==== FOOTER ====*/

.addres,
.footer-contact,
.footer-contact-portfolio-email{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
}

.footer-contact,
.footer-contact-portfolio-email{
    text-decoration: none;
    color: var(--footer-contact-color);
}
.footer-contact-portfolio-email{
    text-decoration-line: underline;
}
/*==== END FOOTER ====*/

/*========================== PORTFOLIO.HTML ========================*/

/*==== FILTERS ====*/
/*==== END FILTERS ====*/

/*==== PROJECTS ====*/
.projects-list-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects-list-text-description{
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--description-color);
}
/*==== END PROJECTS ====*/