:root{
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196F3;
    --secondary-color: #212121;
    --description-color: #757575;
    --third-text-color: #FFFFFF;
    --logo-studio-color:  #000000;
    --footer-contact-color:  rgba(255, 255, 255, 0.6);
    --main-background-color: #FFFFFF;;
    --secondary-background-color: #2F303A;
    --third-background-color: #F5F4FA;
}
body {
    font-family: var(--main-font);
    color: var(--secondary-color);
    background-color: var(--main-background-color);
}
h1,
h2,
h3,
h4,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

.container{
    width: 1200px;
    padding: 15px;
    margin: 0 auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/*==== COMPONENTS ====*/

.logo-web,
.logo-studio,
.logo-studio-white{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.logo-studio{
    color: var(--logo-studio-color);
}
.logo-studio-white{
    color: var(--third-text-color)
}

.filters-modal-btn,
.hero-modal-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--third-background-color);
    border-radius: 4px;
    border: 0px;
    padding: 6px 22px;
}

.secondary-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto;
    padding-bottom: 50px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus,
.footer-contact:hover,
.footer-contact:focus,
.footer-contact-portfolio-email:hover,
.footer-contact-portfolio-email:focus{
    color:var(--main-color)
}
.hero-modal-btn:hover,
.hero-modal-btn:focus,
.filters-modal-btn:hover,
.filters-modal-btn:focus{
    color: var(--third-text-color);
    background-color: var(--main-color);
    cursor: pointer;
}

.section-hero,
.section-footer{
    background-color: var(--secondary-background-color);
}
/*==== END COMPONENTS ====*/

/*==== HEADER ====*/
.header .container{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ECECEC;
}

.navigation-list, 
.contact-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}
   
.navigation-list-item:not(:last-child){
    margin-right: 46px;
}
.header .contact-list{
    margin-left: auto;
}
.contact-list-item{
    margin-right: 50px;
}

.navigation-list-link,
.contact-list-link,
.footer-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.contact-list-link{
    color: var(--description-color);
}
.contact-list-icon{
    fill: #757575;
    margin-right: 10px;
     /*???!!!!!!!!!!!!!!!!!!!!!!!!!!! telefon ucieka do góry! nie wczytują się dobrze width i hight*/
}
.contact-list-icon:hover,
.contact-list-icon:focus{
    fill: var(--main-color);
    background-color: var(--third-background-color);
}
/*==== END HEADER ====*/

/*==== HERO ====*/
.section-hero .container{
    padding: 200 0;  
}
.section-hero{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)), 
    url(/images/herobackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
}

.main-header{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-text-color);
    margin: 0 auto;
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
}   
.hero-modal-btn{
    font-weight: 700;
    line-height: 1.875;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 41px 10px 42px;
    min-width: 200px;
    margin: 0 auto;
}
   
/*==== END HERO ====*/

/*==== ADVANTAGES ====*/
.advantages-list{
 display: flex;
 align-items: center;
}

.advantages-list-item:not(:last-child){
    margin-right: 30px;
}

.advantages-icon{
    display: flex;
    margin: 0 auto;
    
}

.advantages-list-icon:not(:last-child){
    margin-right: 30px;
}

.advantages-list-icon{
    display: flex;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    min-width: 270px;
    min-height: 120px;
    padding-top: 25px;
}

.advantages-list-header,
.advantages-list-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 270px;
    height: 16px;
}

.advantages-list-text{
    font-weight: 400;
    line-height: 1.714;
    text-transform: none;
    color: var(--description-color);
    height: 75px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.section-advantages{
    padding-bottom: 0px;
}

/*==== END ADVANTAGES ====*/

/*==== ABOUT US ====*/
.about-list{
    display: flex;
    align-items: center;
}

.about-list-item:not(:last-child){
    margin-right: 30px;
}
/*==== END ABOUT US ====*/


/*==== OUR TEAM ====*/
.team-list{
    display: flex;
    align-items: center;
}
.team-list-item:not(:last-child){
  margin-right: 30px;  
}
.team-list-item{
    background: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }

.team-list-img{
    margin-bottom: 30px;
}

.section-team{
    background-color: var(--third-background-color);
}
.team-list-text,
.team-list-text-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-list-text-description{
    font-weight: 400;
    color: var(--description-color);
}

.team-social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    margin-bottom: 30px;
    
}

.team-icon{
    width: 20px;
    height: 20px;
}

.team-social-list-item{
    display: flex;
    background-color: var(--main-background-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    min-height: 44px;
    fill: #AFB1B8;
}

.team-social-list-item:not(:last-child){
    margin-right: 10px;
}

.team-social-list-item:hover,
.team-social-list-item:focus{
    fill: var(--third-text-color);
    background-color: var(--main-color);


}
/*==== END OUR TEAM ====*/


/*==== OUR CUSTOMERS ====*/
.customers-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers-list-item:not(:last-child){
    margin-right: 30px;
}

.customer-icon{
    display: flex;
    width: 106px;
    height: 60px;
}

.customers-list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    min-height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.customers-list-item:hover,
.customers-list-item:focus{
    border: 1px solid var(--main-color);
    fill: var(--main-color);
}
/*==== END OUR CUSTOMERS ====*/


/*==== FOOTER ====*/
.section-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-footer .container{
    display: flex;
}

.addres,
.footer-contact{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
}
.addres{
    margin-top: 20px;
}
    
.footer-contact,
.footer-contact-portfolio-email{
    color: var(--footer-contact-color);
}
.footer-list-item{
    padding-top: 9px;
}
.footer-contact:not(:last-child){
    padding-bottom: 9px;
}

.footer-social{
    width: 206px;
    height: 80px;
    margin-left: 70px;
    padding-top: 12px;
}

.footer-social-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
    min-width: 113px;
    min-height: 16px;
    margin-bottom: 20px;

}
.footer-social-list,
.footer-social-list-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social-list-link:not(:last-child){
    margin-right: 10px;
}
.footer-icon{
    width: 20px;
    height: 20px;
}

.footer-social-list-link{    
    display: flex;
    min-width: 44px;
    min-height: 44px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: var(--main-background-color);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus{
    background-color: var(--main-color);
}

/*==== END FOOTER ====*/

/*========================== PORTFOLIO.HTML ========================*/

/*==== FILTERS ====*/
.section-filters{
    padding-bottom: 16px;
}
.filters-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filters-list-item:not(:last-child){
    margin-right: 8px;
}
.filters-list-item:hover,
.filters-list-item:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*==== END FILTERS ====*/

/*==== PROJECTS ====*/
.section-project{
    padding-top: 34px;
    margin: 0 auto;
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
}
.projects-list-item-img{
    display: block;
    padding-bottom: 20px;
}
.projects-list-item{
    width: 370px;
    background: var(--main-background-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.projects-list-item:not(:nth-child(3n)){
    margin-right: 30px;
}

.projects-list-item:not(:nth-child(-n + 3)){
    margin-top: 30px;
}

.projects-list-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-bottom: 4px;
    
}
.projects-list-text-description{
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--description-color);
    padding-bottom: 20px;
}
.projects-list-text,
.projects-list-text-description{
    margin-right: 24px;
    margin-left: 24px;
    width: 322px;
}
.projects-list-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*==== END PROJECTS ====*/