:root{
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196F3;
    --secondary-color: #212121;
    --description-color: #757575;
    --third-text-color: #FFFFFF;
    --logo-studio-color:  #000000;
    --footer-contact-color:  rgba(255, 255, 255, 0.6);
    --main-background-color: #FFFFFF;;
    --secondary-background-color: #2F303A;
    --third-background-color: #F5F4FA;
}
body {
    font-family: var(--main-font);
    color: var(--secondary-color);
    background-color: var(--main-background-color);
}
h1,
h2,
h3,
h4,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

.container{
    width: 1200px;
    padding: 15px;
    margin: 0 auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/*==== COMPONENTS ====*/

.logo-web,
.logo-studio,
.logo-studio-white{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.logo-studio{
    color: var(--logo-studio-color);
}
.logo-studio-white{
    color: var(--third-text-color)
}

.filters-modal-btn,
.hero-modal-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--third-background-color);
    border-radius: 4px;
    border: 0px;
    padding: 6px 22px;
}

.secondary-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto;
    padding-bottom: 50px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus,
.contact-list-link:active,
.footer-contact:hover,
.footer-contact:focus,
.footer-contact-portfolio-email:hover,
.footer-contact-portfolio-email:focus{
    color:var(--main-color)
}


.hero-modal-btn:hover,
.hero-modal-btn:focus,
.filters-modal-btn:hover,
.filters-modal-btn:focus{
    color: var(--third-text-color);
    background-color: var(--main-color);
    cursor: pointer;
}

.section-hero,
.section-footer{
    background-color: var(--secondary-background-color);
}
.navigation-list-item{
    position: relative;
}
.navigation-list-item:nth-child(n+2)::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: var(--main-color);
    left: 0;
    bottom: -39px;
    opacity: 0;
}
.navigation-list-item:hover::after{
    opacity: 1;
}
/*==== END COMPONENTS ====*/

/*==== HEADER ====*/
.header .container{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ECECEC;
}

.navigation-list, 
.contact-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}
   
.navigation-list-item:not(:last-child){
    margin-right: 46px;
}
.header .contact-list{
    margin-left: auto;
}
.contact-list-item{
    margin-right: 50px;
}

.navigation-list-link,
.contact-list-link,
.footer-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link{
    color: var(--description-color);
}
.contact-list-icon{
    fill: #757575;
    margin-right: 10px;
}

.contact-list-link:hover .contact-list-icon,
.contact-list-link:focus .contact-list-icon,
.contact-list-link:active .contact-list-icon{
    fill: var(--main-color)
}

.contact-list-icon:hover,
.contact-list-icon:focus,
.contact-list-icon:active{
    fill: var(--main-color);
    /*background-color: var(--third-background-color);*/
}

/*==== END HEADER ====*/

/*==== HERO ====*/
.section-hero{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/herobackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
.section-hero .container{
    padding-top: 200px;
    padding-bottom: 200px;
}

.main-header{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-text-color);
    margin: 0 auto;
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
}   
.hero-modal-btn{
    font-weight: 700;
    line-height: 1.875;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 41px 10px 42px;
    min-width: 200px;
    margin: 0 auto;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
   
/*==== END HERO ====*/

/*==== ADVANTAGES ====*/
.advantages-list{
 display: flex;
 align-items: center;
}

.advantages-list-item:not(:last-child){
    margin-right: 30px;
}

.advantages-icon{
    display: flex;
    margin: 0 auto;
    
}

.advantages-list-icon:not(:last-child){
    margin-right: 30px;
}

.advantages-list-icon{
    display: flex;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    min-width: 270px;
    min-height: 120px;
    padding-top: 25px;
}

.advantages-list-header,
.advantages-list-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 270px;
    height: 16px;
}

.advantages-list-text{
    font-weight: 400;
    line-height: 1.714;
    text-transform: none;
    color: var(--description-color);
    height: 75px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.section-advantages{
    padding-bottom: 0px;
}

/*==== END ADVANTAGES ====*/

/*==== ABOUT US ====*/
.about-list{
    display: flex;
    align-items: center;
}

.about-list-item:not(:last-child){
    margin-right: 30px;
}
.about-list-item{
    position: relative;
}
.about-list-item-text{
    position: absolute;
    width: 144px;
    height: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    height: 70px;
    bottom: 0;
}

/*==== END ABOUT US ====*/


/*==== OUR TEAM ====*/
.team-list{
    display: flex;
    align-items: center;
}
.team-list-item:not(:last-child){
  margin-right: 30px;  
}
.team-list-item{
    background: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }

.team-list-img{
    margin-bottom: 30px;
}

.section-team{
    background-color: var(--third-background-color);
}
.team-list-text,
.team-list-text-description{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-list-text-description{
    font-weight: 400;
    color: var(--description-color);
}

.team-social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    margin-bottom: 30px;
    
}

.team-icon{
    width: 20px;
    height: 20px;
}

.team-social-list-item{
    display: flex;
    background-color: var(--main-background-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    min-height: 44px;
    fill: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-item:not(:last-child){
    margin-right: 10px;
}

.team-social-list-item:hover,
.team-social-list-item:focus{
    fill: var(--third-text-color);
    background-color: var(--main-color);


}
/*==== END OUR TEAM ====*/


/*==== OUR CUSTOMERS ====*/
.customers-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers-list-item:not(:last-child){
    margin-right: 30px;
}

.customer-icon{
    display: flex;
    width: 106px;
    height: 60px;
}

.customers-list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    min-height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-item:hover,
.customers-list-item:focus{
    border: 1px solid var(--main-color);
    fill: var(--main-color);
}
/*==== END OUR CUSTOMERS ====*/


/*==== FOOTER ====*/
.section-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-footer .container{
    display: flex;
}
.footer-left-side .container{
    display: flex;
}

.addres,
.footer-contact{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
}
.addres{
    margin-top: 20px;
}
    
.footer-contact,
.footer-contact-portfolio-email{
    color: var(--footer-contact-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-item{
    padding-top: 9px;
}
.footer-contact:not(:last-child){
    padding-bottom: 9px;
}

.footer-social{
    width: 206px;
    height: 80px;
    margin-left: 70px;
    padding-top: 12px;
}

.footer-social-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
    min-width: 113px;
    min-height: 16px;
    margin-bottom: 20px;

}
.footer-social-list,
.footer-social-list-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social-list-link:not(:last-child){
    margin-right: 10px;
}
.footer-icon{
    width: 20px;
    height: 20px;
}

.footer-social-list-link{    
    display: flex;
    min-width: 44px;
    min-height: 44px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: var(--main-background-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus{
    background-color: var(--main-color);
}

.footer-newsletter{
    margin-left: 78px;
}
.footer-newsletter-info{
    width: 207px;
    height: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
    margin-bottom: 20px;
}
.footer-form-input{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    margin-right: 12px;
    /* position: relative;     */
}
.newsletter-btn{
    width: 200px;
    height: 50px;
    min-width: 82px;
    min-height: 30px;
    font-size: 16px;
    line-height: 1.875;
    padding-left: 42px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    /* position: absolute;
    top: 2914px;
    left: 1335px;*/
}
.newsletter-icon{
    width: 24px;
    min-height: 24px;
    margin-left: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
}
/*==== END FOOTER ====*/

/*========================== PORTFOLIO.HTML ========================*/

/*==== FILTERS ====*/
.section-filters{
    padding-bottom: 16px;
}
.filters-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filters-list-item:not(:last-child){
    margin-right: 8px;
}
.filters-list-item:hover,
.filters-list-item:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters-list-item{
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*==== END FILTERS ====*/

/*==== PROJECTS ====*/
.section-project{
    padding-top: 34px;
    margin: 0 auto;
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
}
.projects-list-item-img{
    display: block;
    padding-bottom: 20px;
}
.projects-list-item{
    width: 370px;
    background: var(--main-background-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.projects-list-item:not(:nth-child(3n)){
    margin-right: 30px;
}

.projects-list-item:not(:nth-child(-n + 3)){
    margin-top: 30px;
}

.projects-list-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-bottom: 4px;
    
}
.projects-list-text-description{
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--description-color);
    padding-bottom: 20px;
}
.projects-list-text,
.projects-list-text-description{
    margin-right: 24px;
    margin-left: 24px;
    width: 322px;
}
.projects-list-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-div{
    position: relative;
    overflow: hidden;
    width: 370px;
    margin-bottom: 20px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list-item:hover .overlay{
    transform: translateY(0);
}
.overlay-text{
    width: 301px;
    height: 196px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    margin: 49px 45px 49px 24px;
}
/*==== END PROJECTS ====*/


/*==== BACKDROP ====*/
.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 250ms;
    transform: scale(1);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.close-btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    background-color: var(--main-background-color);


}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
    
/*==== END BACKDROP ====*/

/*==== MODAL ====*/
.modal-form-tittle{
    width: 448px;
    height: 23px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 12px;
}

.accept-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196F3;
}
.modal-label{
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 40px;
    display: flex;
}
.modal-label-input{
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 40px;
    padding-left: 30px;
} 
.modal-label-textarea{
    position: relative;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    padding: 12px 16px;
}
.accept-label{
    font-style: 400;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-form-btn{
    width: 200px;
    height: 50px;
    min-width: 48px;
    min-height: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--third-background-color);
    border-radius: 4px;
    border: 0px;
    padding: 6px 22px;
    padding: 10px 76px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    cursor: pointer;
}
.modal-form-btn:focus,
.modal-form-btn:hover{
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.accept-label::before{
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #212121;
    margin-right: 8px;
    box-sizing: border-box;
    border-radius: 2px; 
}
.modal-label-input-check:checked + .accept-label::before{
    background-color: #2196F3;
    border: none;
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


/* ukryty oryginnalny checkbox */
.visually-hidden{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.modal-input-wrapper{
    position: relative;
}
.modal-input-icon{
    position: absolute;
    top: 15px;
    left: 52px;
}
.modal-label-input:focus{
    border-color: #2196F3;
    outline: none;
}
.modal-label-input:focus + .modal-input-icon{
    fill: #2196F3;
    outline: none;
}
.modal-label-textarea:focus{
    border-color: #2196F3;
    outline: none;
}

/* jeszcze animacje! do button i wszytkich hover focus
A potem hover, focus, svg i przejścia!
nie zapomnij o hsvg w stopce */
/*==== END MODAL ====*/