.about__list{
    display: flex;
    align-items: center;
    list-style: none;
}
.about__item{
    margin-right: 30px;
    position: relative;
}
.about__description{
    font-family: var(--main-font);
    position: absolute;
    width: 144px;
    height: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    height: 70px;
    bottom: 0;
}