.customers__list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.customers__item{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    min-height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 30px;

    &:hover,
    &:focus{
    border: 1px solid var(--main-color);
    fill: var(--main-color);
    }
}
.customers__icon{
    display: flex;
    width: 106px;
    height: 60px;
}
