.customers{
    padding-bottom: 60px;
}
.customers__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: -30px;
}
.customers__item{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 210px;
    min-height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 30px;
    margin-left: 30px;

    &:hover,
    &:focus{
    border: 1px solid var(--main-color);
    fill: var(--main-color);
    }
}
.customers__icon{
    display: flex;
    width: 106px;
    height: 60px;
}

@media screen and (min-width: 768px){
    .customers__item{
        min-width: 226px;
    }
}

@media screen and (min-width: 768px){
//     .customers{
//     padding-top: 94px;
//     padding-bottom: 94px;
// }
    .customers__item{
        min-width: 170px;
    }
}
// .customers__list{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     list-style: none;
// }
// .customers__item{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     min-width: 170px;
//     min-height: 92px;
//     fill: #AFB1B8;
//     border: 1px solid #AFB1B8;
//     border-radius: 4px;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     margin-right: 30px;

//     &:hover,
//     &:focus{
//     border: 1px solid var(--main-color);
//     fill: var(--main-color);
//     }
// }
// .customers__icon{
//     display: flex;
//     width: 106px;
//     height: 60px;
// }
