.header__container{
    padding-top: 16px;
    padding-bottom: 16px;
}
@media screen and (min-width: 768px){
    .header__container{
    padding-top: 32px;
    padding-bottom: 32px;
}
}
@media screen and (min-width: 1200px){
    .header__container{
    padding-top: 32px;
    padding-bottom: 32px;
}
}