@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), 
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero_bg_mobile@2x.jpg);
  }
}
.hero{
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero_bg_mobile.jpg);
    background-repeat: no-repeat;
    background-size: 480px 400px;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
.hero__header{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-text-color);
    margin: 0 auto;
    width: 365px;
    height: 84px;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero_bg_tablet.jpg);
    background-repeat: no-repeat;
    background-size: 768px 400px;
}

// .hero{
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/herobackground.png);
//     background-repeat: no-repeat;
//     background-size: cover;
//     max-width: 1600px;
//     margin: 0 auto;
//     padding-top: 0px;
//     padding-bottom: 0px;
// }

// .hero__header{
//     font-family: var(--main-font);
//     font-style: normal;
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.363;
//     text-align: center;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: var(--third-text-color);
//     margin: 0 auto;
//     width: 696px;
//     height: 120px;
//     margin-bottom: 30px
// }