.newsletter{
    margin-left: 78px
}
.newsletter__title{
    font-family: Roboto;
    font-style: normal; 
    width: 207px;
    height: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);
    margin-bottom: 20px;
}
/* wrapper + disclaimer = input i button w jednej linii */
.newslettter__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.newslettter__disclaimer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter__input{
    font-family: var(--main-font);
    font-style: normal;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    margin-right: 12px;
}
.newsletter__button{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    width: 200px;
    height: 50px;
    min-width: 82px;
    min-height: 30px;
    font-size: 16px;
    line-height: 1.875;
    padding-left: 42px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
}
.newsletter__icon{
     width: 24px;
    min-height: 24px;
    margin-left: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
}