.project{
    padding-top: 34px;
    margin: 0 auto;
}
.projects__list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.projects__item{
    width: 370px;
    background: var(--main-background-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    margin-right: 30px;
    margin-top: 30px;

    .projects__item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
    &:hover .overlay{
    transform: translateY(0);
    }
}
.projects__item--each-third-child{
    margin-right: 0px
}
.projects__item--first-three-child{
    margin-top: 0px
}
.projects__img{
    display: block;
    padding-bottom: 20px;
}
.projects__text{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-bottom: 4px;
    margin-right: 24px;
    margin-left: 24px;
    width: 322px;

}
.projects__description{
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--description-color);
    padding-bottom: 20px;
    margin-right: 24px;
    margin-left: 24px;
    width: 322px;
}

.projects__div{
    position: relative;
    overflow: hidden;
    width: 370px;
    margin-bottom: 20px;
}
