.team{
    display: flex;
    align-items: center;
    background-color: var(--third-background-color);
}
.team__list{
    list-style: none;
    display: flex;
}
.team__item{
    margin-right: 30px;
    background: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team__image{
    margin-bottom: 30px;
}
.team__name{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.team__workplace{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    color: var(--description-color);
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}