.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 250ms;
    transform: scale(1);
}
// .backdrop{
//     position: fixed;
//     left: 0;
//     top: 0;
//     min-width: 100%;
//     min-height: 100%;
//     background-color: rgba(0, 0, 0, 0.2);
//     transition: 250ms;
//     transform: scale(1);
// }