.button{
    font-family: var(--main-font);
    font-style: normal;
    min-width: 200px;
    min-height: 50px;
    background-color: var(--third-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover,
    &:focus{
    color: var(--third-text-color);
    background-color: var(--main-color);
    cursor: pointer;
    }
}

.button--hero-theme{
    font-weight: 700;
    line-height: 1.875;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    padding: 10px 41px 10px 42px;
    margin: 0 auto;
}
.button--modal-theme{
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    padding: 6px 22px;
    padding: 10px 76px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
    margin-left: 157px;
}
