.contact{
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.contact__link{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--description-color);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active{
    color: var(--main-color);
    }

    &:hover .contact__icon,
    &:focus .contact__icon,
    &:active .contact__icon{
    fill:  var(--main-color);
    }
}
.contact__icon{
    fill: #757575;
    margin-right: 10px;

    &:hover,
    &:focus,
    &:active{
    fill: var(--main-color);
    }
}

// footer
.contact--footer-theme{
    display: block;
    text-align: center;
    // padding-left: 125px;
}
.contact__item--footer-theme{
    margin-bottom: 9px;
}
.contact__link--footer-theme{
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--footer-contact-color);
}

.contact__link--portfolio-theme{
    text-decoration: underline;
}

@media screen and (min-width: 768px){
    .contact{
    display: block;
    margin-top: -30px;
    margin-left: 520px;
    }
    .contact__list{
        padding-top: 21px;
        padding-bottom: 21px;
        display: flex;
    }
    .contact--footer-theme{
    margin-top: 0;
    margin-left: 0;
    text-align: left;
    padding-left: 115px;
    }
}
@media screen and (min-width: 1200px){
    .contact{
    display: flex;
    margin-top: -25px;
    }
    .contact__list{
        padding-top: 36px;
        padding-bottom: 36px;
    }
    .contact__item--first-child{
    margin-right: 30px;
    }
    .contact--footer-theme{
    text-align: left;
    padding-left: 0;
    margin-top: 0;
    display: block;
    }
}
// .contact{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     list-style: none;
// }
// .contact__item--first-child{
//     margin-right: 30px;
// }
// .contact__link{
//     font-family: var(--main-font);
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.142;
//     letter-spacing: 0.02em;
//     color: var(--description-color);
//     text-decoration: none;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus,
//     &:active{
//     color: var(--main-color);
//     }

//     &:hover .contact__icon,
//     &:focus .contact__icon,
//     &:active .contact__icon{
//     fill:  var(--main-color);
//     }
// }
// .contact__icon{
//     fill: #757575;
//     margin-right: 10px;

//     &:hover,
//     &:focus,
//     &:active{
//     fill: var(--main-color);
//     }
// }


// .contact--footer-theme{
//     display: block;
// }
// .contact__item--footer-theme{
//     margin-bottom: 9px;
// }
// .contact__link--footer-theme{
//     font-family: var(--main-font);
//     font-weight: normal;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 1.714;
//     letter-spacing: 0.03em;
//     color: var(--footer-contact-color);
// }
// .contact__link--portfolio-theme{
//     text-decoration: underline;
// }