.container{
    width: 1200px;
    padding: 15px;
    margin: 0 auto;

    .footer & {
    display: flex;
    }

    .header &{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ECECEC;
    }

    .hero &{
    padding-top: 200px;
    padding-bottom: 200px;
}
}
