:root{
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196F3;
    --secondary-color: #212121;
    --description-color: #757575;
    --third-text-color: #FFFFFF;
    --logo-studio-color:  #000000;
    --footer-contact-color:  rgba(255, 255, 255, 0.6);
    --main-background-color: #FFFFFF;;
    --secondary-background-color: #2F303A;
    --third-background-color: #F5F4FA;
}